<% content_for :title,      "Logout - I4PC"          %>
<% content_for :body_id,    "logout"                 %>
<% content_for :tweet,      "I4PC - Instagram for PC" %>

<div id="content">
<p>
Logged out.
</p>
<iframe src="https://instagram.com/accounts/logout" width="0" height="0"></iframe>
</div>
