
<% content_for :meta do %>
<meta property="og:image" content="http://distillery.s3.amazonaws.com/profiles/profile_141794_75sq_1287203119.jpg" />
<meta property="og:description" content="Instagram for PC.Everybody loves Instagram." />
<% end %>

<% content_for :title, 'About - I4PC' %>
<% content_for :body_id, 'about' %>

<!-- About area -->
<div id="about_area">

        <h2>About I4PC</h2>

        <div class="box staff" id="box_mizzy">
            <h3 class="title">I4PC Developer</h3>
            <a href="/user/mizzy"><img src="http://images.instagram.com/profiles/profile_141794_75sq_1305186535.jpg" class="icon" /></a>
            <h4>mizzy</h4>
            <ul>
                <li class="i4pc"><a href="/user/mizzy">I4PC @ mizzy</a></li>
                <li class="twitter"><a href="http://twitter.com/#!/gosukenator">Twitter @ gosukenator</a></li>
                <li class="work"><a href="http://www.paperboy.co.jp/">Work @ paperboy&co.</a></li>
                <li class="blog"><a href="http://mizzy.org/">http://mizzy.org/</a></li>
            </ul>
            <div class="about">
                 I like Samurai, Ninja, Bushido, Harakiri and Instagram.
            </div>
        </div>

        <div class="box staff" id="box_daiskip">
            <h3 class="title">I4PC Designer</h3>
            <a href="/user/daiskip"><img src="http://distillery.s3.amazonaws.com/profiles/profile_114590_75sq_1287488674.jpg" class="icon" /></a>
            <h4>daiskip</h4>
            <ul>
                <li class="i4pc"><a href="/user/daiskip">I4PC @ daiskip</a></li>
                <li class="twitter"><a href="http://twitter.com/#!/daiskip">Twitter @ daiskip</a></li>
                <li class="work"><a href="http://www.paperboy.co.jp/">Work @ paperboy&co.</a></li>
                <li class="blog"><a href="http://daiskip.com/">http://daiskip.com/</a></li>
            </ul>
            <div class="about">
                I like Sushi, Tenpura, Mt.Fuji, Geisya and Instagram.
            </div>
        </div>

        <div class="box" id="box_facebook">
            <h3 class="title">Facebook</h3>
            <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fi4pc.jp&amp;width=292&amp;colorscheme=light&amp;show_faces=true&amp;stream=false&amp;header=true&amp;height=505" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:292px; height:505px;" allowTransparency="true"></iframe>
        </div>

        <div class="box" id="box_twitter">
            <h3 class="title">Twitter</h3>
            <script src="http://widgets.twimg.com/j/2/widget.js"></script>
            <script>
            new TWTR.Widget({
              version: 2,
              type: 'search',
              search: '#i4pc',
              interval: 6000,
              title: 'Instagram for PC',
              subject: 'I4PC',
              width: 292,
              height: 417,
              theme: {
                shell: {
                  background: '#e3e6da',
                  color: '#999'
                },
                tweets: {
                  background: '#ffffff',
                  color: '#666666',
                  links: '#0095d9'
                }
              },
              features: {
                scrollbar: false,
                loop: true,
                live: true,
                hashtags: true,
                timestamp: true,
                avatars: true,
                toptweets: true,
                behavior: 'default'
              }
            }).render().start();
            </script>
        </div>



<br class="clear" />
</div>
<!-- End of About Area -->
